*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.clearfix{
  content:'';
  display: table;
  clear: both;
}

.big_container{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.big_top_bar{
  width: 100vw;
  height: 20vh;
  background-color: #075E54;
}

.container{
  width: 75%;
  min-width: 500px;
  height: auto;
  border: 3px solid red;
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

header{
  width: 100%;
  height: 80px;
  background-color: #ece5dd;
}

.topbar{
  width: 100%;
  height: 25px;
  padding: 2px 5px;
  background-color: #128c7e;
  font-size: 10px;
  color:#fff;
  display: flex;
}

.topbar div:first-child{
  flex-grow: 1;
}

.opts i{
  margin: 0 5px;
}

.header_left, .header_right{
  float:left;
  padding: 8px 10px;
  height: calc(100% - 25px);
  border: 1px solid grey;
}

.header_left{
  width: 35%;
  display:flex;
  align-items: center;
}

.header_left i,
.header_right i{
  margin: 0 10px;
}

.header_right{
  width: 65%;
  display: flex;
  align-items: center;
}

.liveChat{
  flex-grow: 1;
}

.liveChat span{
  line-height: 100%;
}

main{
  display: flex;
  height: 600px;
}

#contacts_list, #chat{
 min-height: 100%;
}

#contacts_list{
  width: 35%;
}

#chat_list ul{
  list-style-type: none;
  padding:0 10px;
}

#chat_list li{
  padding: 5px;
}

#li_container{
  display: flex;
}

.contact_details{
  border-bottom: 1px solid grey;
  width: 100%;
}

.contact-name{
  width: 100%;
  flex-grow: 1;
}

.last_text_preview{
  display: block;
}

.profile_pic, .contact_details{
  float: left;
}

.nameDate{
  display: flex;
  justify-content: space-between;
}

input#find-chat{
  width: 100%;
  padding: 8px 8px 8px 35px;
  border: none;
  border-radius: 25px;
}

.search-chat{
  position: relative;
  background-color: #ece5dd;
  padding:8px 10px;
}

.search-chat i{
  position: absolute;
  left:15px;
  top:50%;
  transform: translate(0, -50%);
}

ul{
  list-style-type: none;
  padding:0 10px;
}

li{
  padding: 5px;
}


.profile_pic{
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
}

.profile_pic_cont{
  flex-grow: 1;
}

#chat{
  width: 65%;
  background-color: #fffaf5;
  position: relative;
  background-image: url(../img/WhatsApp_bg.jpeg);

}

.text-input{
  width: 100%;
  height: 50px;
  background-color: #ece5dd;
  position: absolute;
  bottom:0;
  display:flex;
  justify-content: space-around;
  font-size: 25px;
  align-items: center;
}

#typer{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 20px;
}

.sentClass{
  background-color: #dbfac6;
  text-align: right;
  padding: 5px 10px;
  border-radius: 10px;
}

.receivedClass{
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}
